<section class="kingsport-news-option1v3">
	<div class="container">
		<div class="news-wrapper">
			<div class="news-title">
				<h2>Tin tức</h2>
			</div>
			<div class="news-tab-nav">
				<ul id="news-navigation">
					<li class="active"><a href="javascript:void(0)" data-type="tab-news-1">Thông tin King Sport</a></li>
					<li><a href="javascript:void(0)" data-type="tab-news-2">Khách hàng tin dùng</a></li>
					<li><a href="javascript:void(0)" data-type="tab-news-3">Hoạt động cộng đồng</a></li>
					<li><a href="javascript:void(0)" data-type="tab-news-4">Hot Trend</a></li>
					<li><a href="javascript:void(0)" data-type="tab-news-5">Sao việt tin dùng</a></li>
					<li><a href="javascript:void(0)" data-type="tab-news-6">Sống khỏe cùng Kingsport</a></li>
					<li><a href="javascript:void(0)" data-type="tab-news-7">Khuyến mãi</a></li>
				</ul>
			</div>
			<div class="select-news-mobile-options" id="select-news-mobile-options">
				<ul class="default-footer-select" data-selected-value="ted">
					<li class="default-select-options"><span>Các thông tin khác </span></li>
					<ul class="options" id="newsMobileSelectedOption">
						<li data-value-selected="tab-news-1">Thông tin King Sport</li>
						<li data-value-selected="tab-news-2"> Khách hàng tin dùng</li>
						<li data-value-selected="tab-news-3"> Hoạt động cộng đồng</li>
						<li data-value-selected="tab-news-4"> Hot Trend</li>
						<li data-value-selected="tab-news-5">Sao việt tin dùng</li>
						<li data-value-selected="tab-news-6">Sống khỏe cùng Kingsport</li>
						<li data-value-selected="tab-news-7">Khuyến mãi</li>
					</ul>
				</ul>
			</div>
		</div>
		<div class="news-box">
			<div class="row">
				<div class="col-12 col-md-6">
					<div class="news-banner"><img class="img-fluid" src="./images/options-1/discount/ads-golden-1.jpg" alt="Khuyến mãi"></div>
				</div>
				<div class="col-12 col-md-6">
					<div class="news-banner d-md"><img class="img-fluid" src="./images/options-1/discount/ads-golden-2.jpg" alt="Khuyến mãi"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="tab-content-news">
						<div class="tab-panel-news active" id="tab-news-1">
							<div class="swiper-container" id="news-swiper-1">
								<div class="swiper-wrapper">
									
									<div class="swiper-slide">
										<figure class="figure">
											<div class="figure-image"><img class="img-fluid" src="./images/options-1/running-machine/running-machine-4.png" alt="Tháng 4 yêu dấu đã đến! Cùng Kingsport chào đón mùa lễ gia đình với chương trình ƯU ĐÃI HẤP DẪN, nhận ngay giá SỐC tận GỐC cùng hàng ngàn quà tặng bất ngờ!"></div>
											<div class="figure-caption">
												<h4>Đại lễ đón gia đình - Linh đình ưu đại lên đến 59%</h4>
												<h5>11/04/2019 - 15:19</h5>
												<p>Tháng 4 yêu dấu đã đến! Cùng Kingsport chào đón mùa lễ gia đình với chương trình ƯU ĐÃI HẤP DẪN, nhận ngay giá SỐC tận GỐC cùng hàng ngàn quà tặng bất ngờ!</p>
											</div>
										</figure>
									</div>
                                    
								</div>
								<div class="button-prev-news"><i class="mdi mdi-chevron-left"></i></div>
								<div class="button-next-news"><i class="mdi mdi-chevron-right"></i></div>
							</div>
							<div class="swiper-pagination-wrapper">
								<div class="swiper-pagination swiper-pagination-news-1"></div>
							</div>
						</div>
						<div class="tab-panel-news" id="tab-news-2">
							<div class="swiper-container" id="news-swiper-2">
								<div class="swiper-wrapper">
                                
									<div class="swiper-slide">
										<figure class="figure">
											<div class="figure-image"><img class="img-fluid" src="./images/options-1/running-machine/running-machine-2.png" alt="Tháng 4 yêu dấu đã đến! Cùng Kingsport chào đón mùa lễ gia đình với chương trình ƯU ĐÃI HẤP DẪN, nhận ngay giá SỐC tận GỐC cùng hàng ngàn quà tặng bất ngờ!"></div>
											<div class="figure-caption">
												<h4>Đại lễ đón gia đình - Linh đình ưu đại lên đến 59%</h4>
												<h5>11/04/2019 - 15:19</h5>
												<p>Tháng 4 yêu dấu đã đến! Cùng Kingsport chào đón mùa lễ gia đình với chương trình ƯU ĐÃI HẤP DẪN, nhận ngay giá SỐC tận GỐC cùng hàng ngàn quà tặng bất ngờ!</p>
											</div>
										</figure>
									</div>
                                    
								</div>
								<div class="button-prev-news"><i class="mdi mdi-chevron-left"></i></div>
								<div class="button-next-news"><i class="mdi mdi-chevron-right"></i></div>
							</div>
							<div class="swiper-pagination-wrapper">
								<div class="swiper-pagination swiper-pagination-news-2"></div>
							</div>
						</div>
						<div class="tab-panel-news" id="tab-news-3">
							<div class="swiper-container" id="news-swiper-3">
								<div class="swiper-wrapper">
									
									<div class="swiper-slide">
										<figure class="figure">
											<div class="figure-image"><img class="img-fluid" src="./images/options-1/running-machine/running-machine-2.png" alt="Tháng 4 yêu dấu đã đến! Cùng Kingsport chào đón mùa lễ gia đình với chương trình ƯU ĐÃI HẤP DẪN, nhận ngay giá SỐC tận GỐC cùng hàng ngàn quà tặng bất ngờ!"></div>
											<div class="figure-caption">
												<h4>Đại lễ đón gia đình - Linh đình ưu đại lên đến 59%</h4>
												<h5>11/04/2019 - 15:19</h5>
												<p>Tháng 4 yêu dấu đã đến! Cùng Kingsport chào đón mùa lễ gia đình với chương trình ƯU ĐÃI HẤP DẪN, nhận ngay giá SỐC tận GỐC cùng hàng ngàn quà tặng bất ngờ!</p>
											</div>
										</figure>
									</div>
                                    
								</div>
								<div class="button-prev-news"><i class="mdi mdi-chevron-left"></i></div>
								<div class="button-next-news"><i class="mdi mdi-chevron-right"></i></div>
							</div>
							<div class="swiper-pagination-wrapper">
								<div class="swiper-pagination swiper-pagination-news-3"></div>
							</div>
						</div>
						<div class="tab-panel-news" id="tab-news-4">
							<div class="swiper-container" id="news-swiper-4">
								<div class="swiper-wrapper">
									
									<div class="swiper-slide">
										<figure class="figure">
											<div class="figure-image"><img class="img-fluid" src="./images/options-1/running-machine/running-machine-2.png" alt="Tháng 4 yêu dấu đã đến! Cùng Kingsport chào đón mùa lễ gia đình với chương trình ƯU ĐÃI HẤP DẪN, nhận ngay giá SỐC tận GỐC cùng hàng ngàn quà tặng bất ngờ!"></div>
											<div class="figure-caption">
												<h4>Đại lễ đón gia đình - Linh đình ưu đại lên đến 59%</h4>
												<h5>11/04/2019 - 15:19</h5>
												<p>Tháng 4 yêu dấu đã đến! Cùng Kingsport chào đón mùa lễ gia đình với chương trình ƯU ĐÃI HẤP DẪN, nhận ngay giá SỐC tận GỐC cùng hàng ngàn quà tặng bất ngờ!</p>
											</div>
										</figure>
									</div>
                                    
								</div>
								<div class="button-prev-news"><i class="mdi mdi-chevron-left"></i></div>
								<div class="button-next-news"><i class="mdi mdi-chevron-right"></i></div>
							</div>
							<div class="swiper-pagination-wrapper">
								<div class="swiper-pagination swiper-pagination-news-4"></div>
							</div>
						</div>
						<div class="tab-panel-news" id="tab-news-5">
							<div class="swiper-container" id="news-swiper-5">
								<div class="swiper-wrapper">
									
									<div class="swiper-slide">
										<figure class="figure">
											<div class="figure-image"><img class="img-fluid" src="./images/options-1/running-machine/running-machine-2.png" alt="Tháng 4 yêu dấu đã đến! Cùng Kingsport chào đón mùa lễ gia đình với chương trình ƯU ĐÃI HẤP DẪN, nhận ngay giá SỐC tận GỐC cùng hàng ngàn quà tặng bất ngờ!"></div>
											<div class="figure-caption">
												<h4>Đại lễ đón gia đình - Linh đình ưu đại lên đến 59%</h4>
												<h5>11/04/2019 - 15:19</h5>
												<p>Tháng 4 yêu dấu đã đến! Cùng Kingsport chào đón mùa lễ gia đình với chương trình ƯU ĐÃI HẤP DẪN, nhận ngay giá SỐC tận GỐC cùng hàng ngàn quà tặng bất ngờ!</p>
											</div>
										</figure>
									</div>
                                    
								</div>
								<div class="button-prev-news"><i class="mdi mdi-chevron-left"></i></div>
								<div class="button-next-news"><i class="mdi mdi-chevron-right"></i></div>
							</div>
							<div class="swiper-pagination-wrapper">
								<div class="swiper-pagination swiper-pagination-news-5"></div>
							</div>
						</div>
						<div class="tab-panel-news" id="tab-news-6">
							<div class="swiper-container" id="news-swiper-6">
								<div class="swiper-wrapper">
									
									<div class="swiper-slide">
										<figure class="figure">
											<div class="figure-image"><img class="img-fluid" src="./images/options-1/running-machine/running-machine-2.png" alt="Tháng 4 yêu dấu đã đến! Cùng Kingsport chào đón mùa lễ gia đình với chương trình ƯU ĐÃI HẤP DẪN, nhận ngay giá SỐC tận GỐC cùng hàng ngàn quà tặng bất ngờ!"></div>
											<div class="figure-caption">
												<h4>Đại lễ đón gia đình - Linh đình ưu đại lên đến 59%</h4>
												<h5>11/04/2019 - 15:19</h5>
												<p>Tháng 4 yêu dấu đã đến! Cùng Kingsport chào đón mùa lễ gia đình với chương trình ƯU ĐÃI HẤP DẪN, nhận ngay giá SỐC tận GỐC cùng hàng ngàn quà tặng bất ngờ!</p>
											</div>
										</figure>
									</div>
                                    
								</div>
								<div class="button-prev-news"><i class="mdi mdi-chevron-left"></i></div>
								<div class="button-next-news"><i class="mdi mdi-chevron-right"></i></div>
							</div>
							<div class="swiper-pagination-wrapper">
								<div class="swiper-pagination swiper-pagination-news-6"></div>
							</div>
						</div>
						<div class="tab-panel-news" id="tab-news-7">
							<div class="swiper-container" id="news-swiper-7">
								<div class="swiper-wrapper">
									
									<div class="swiper-slide">
										<figure class="figure">
											<div class="figure-image"><img class="img-fluid" src="./images/options-1/running-machine/running-machine-2.png" alt="Tháng 4 yêu dấu đã đến! Cùng Kingsport chào đón mùa lễ gia đình với chương trình ƯU ĐÃI HẤP DẪN, nhận ngay giá SỐC tận GỐC cùng hàng ngàn quà tặng bất ngờ!"></div>
											<div class="figure-caption">
												<h4>Đại lễ đón gia đình - Linh đình ưu đại lên đến 59%</h4>
												<h5>11/04/2019 - 15:19</h5>
												<p>Tháng 4 yêu dấu đã đến! Cùng Kingsport chào đón mùa lễ gia đình với chương trình ƯU ĐÃI HẤP DẪN, nhận ngay giá SỐC tận GỐC cùng hàng ngàn quà tặng bất ngờ!</p>
											</div>
										</figure>
									</div>
                                    
								</div>
								<div class="button-prev-news"><i class="mdi mdi-chevron-left"></i></div>
								<div class="button-next-news"><i class="mdi mdi-chevron-right"></i></div>
							</div>
							<div class="swiper-pagination-wrapper">
								<div class="swiper-pagination swiper-pagination-news-7"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="news-wrapper">
			<div class="row">
				<div class="col-12">
					<div class="view-more" id="view-more"><a href="#">Xem thêm</a></div>
				</div>
			</div>
		</div>
	</div>
</section>