{% if categories %}
<section class="news-sidebar">
	<div class="sidebar-toggle"><span class="text">Danh mục tin tức</span></div>
	<ul class="sidebar-index-wrappper">
		{% for category in categories %}  
		<li><a href="{{ category.href }}"><em class="mdi mdi-chevron-right"></em>{{ category.title }}</a></li>
		<!--<li class="have-children-2"><a href="#"><em class="mdi mdi-chevron-right"></em>setup phòng gym</a>
			<ul>
				<li><a href="#"> Sub menu</a></li>
				<li><a href="#"> Sub menu</a></li>
			</ul>
		</li>-->
        {% endfor %}
	</ul>
</section>
{% endif %}