<div class="sidebar-wrapper" id="sidebar-wrapper">
	<ul class="sidebar-menu">
		<li class="have-children"><a href="#">Máy ch?y b?</a>
			<ul>
				<li><a href="#">Add Exhibition</a></li>
				<li><a href="#">View Exhibitions</a></li>
			</ul>
		</li>
		<li class="have-children"><a href="#">Gh? massage</a>
			<ul>
				<li><a href="#">Add Category</a></li>
				<li><a href="#">View Categories</a></li>
			</ul>
		</li>
		<li class="have-children"><a href="#">Xe d?p th? thao</a>
			<ul>
				<li><a href="#">Add Award</a></li>
				<li><a href="#">View Awards</a></li>
			</ul>
		</li>
		<li class="have-children"><a href="#">máy rung gi?m cân</a>
			<ul>
				<li><a href="#">Add Jury</a></li>
				<li><a href="#">View Juries</a></li>
			</ul>
		</li>
		<li class="have-children"><a href="#">Thi?t b? phòng gym</a>
			<ul>
				<li><a href="#">Add Author</a></li>
				<li><a href="#">View Authors</a></li>
			</ul>
		</li>
		<li class="have-children"><a href="#">Giàn t? da nang</a>
			<ul>
				<li><a href="#">View Judging points</a></li>
				<li><a href="#">Create Acceptances List</a></li>
				<li><a href="#">Create Awarded List</a></li>
				<li><a href="#">View Candidates for Awards</a></li>
			</ul>
		</li>
		<li><a href="#">máy xay sinh t?</a></li>
		<li><a href="#">Qu?t di?u hòa</a></li>
		<li class="have-children"><a href="#">Giày nh?p chính hãng</a>
			<ul>
				<li><a href="#">Add Author</a></li>
				<li><a href="#">View Authors</a></li>
			</ul>
		</li>
		<li class="have-children"><a href="#">Th?m lót sàn</a>
			<ul>
				<li><a href="#">View Judging points</a></li>
				<li><a href="#">Create Acceptances List</a></li>
				<li><a href="#">Create Awarded List</a></li>
				<li><a href="#">View Candidates for Awards</a></li>
			</ul>
		</li>
		<li><a href="#">Máy hút chân không</a></li>
		<li><a href="#">S?n ph?m khác</a></li>
		<li><a href="#">S?n ph?m thanh lý</a></li>
	</ul>
</div>