<section class="mobile-home-slider">
	<div class="swiper-container" id="swiper-home-slide">
		<div class="swiper-wrapper">
			<div class="swiper-slide"><img class="img-fluid" src="catalog/view/theme/kingsport/image/options-1/home-mobile-slide-image.png" alt="Khuyen mai thang 5" /></div>
			<div class="swiper-slide"><img class="img-fluid" src="catalog/view/theme/kingsport/image/options-1/home-mobile-slide-image.png" alt="Khuyen mai thang 5" /></div>
		</div>
	</div>
</section>