<h2>S?n ph?m s?p v?</h2>
<div class="swiper-container" id="swiper-product-deal-coming-nested-2v2">
	<div class="swiper-wrapper">
		<div class="swiper-slide">
			<figure class="figure">
				<div class="hot-item">
					<h5>Hot</h5>
				</div>
				<div class="figure-image"><img src="./images/options-1/best-sell/best-seller-1.png" alt="S?n ph?m bán ch?y">
					<div class="add-cart">
						<ul>
							<li><a href="#"><i class="mdi mdi-heart"></i></a>
								<div class="label">
									<p>Luu s?n ph?m</p>
								</div>
							</li>
							<li><a href="#"><i class="mdi mdi-cart"></i></a>
								<div class="label">
									<p>Gi? hàng</p>
								</div>
							</li>
							<li><a href="#"><i class="mdi mdi-eye"></i></a>
								<div class="label">
									<p>Chi ti?t</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="figure-caption">
					<div class="caption-price">
						<p>
							<s>19.000.000d</s>(-19%)
						</p>
						<h5>17.200.000<span>d</span></h5>
					</div>
					<h5>KingSport BK-1999 PRO</h5>
					<div class="gift"><img src="./images/options-1/product-icon-1.png" alt="S?n ph?m t?ng kèm">
						<p>T?ng 30 kg t?</p>
					</div>
					<div class="gift"><img src="./images/options-1/product-icon-2.png" alt="S?n ph?m t?ng kèm">
						<p>T?ng máy do huy?t áp</p>
					</div>
				</div>
			</figure>
		</div>
		<div class="swiper-slide">
			<figure class="figure">
				<div class="hot-item">
					<h5>Hot</h5>
				</div>
				<div class="figure-image"><img src="./images/options-1/best-sell/best-seller-2.png" alt="S?n ph?m bán ch?y">
					<div class="add-cart">
						<ul>
							<li><a href="#"><i class="mdi mdi-heart"></i></a>
								<div class="label">
									<p>Luu s?n ph?m</p>
								</div>
							</li>
							<li><a href="#"><i class="mdi mdi-cart"></i></a>
								<div class="label">
									<p>Gi? hàng</p>
								</div>
							</li>
							<li><a href="#"><i class="mdi mdi-eye"></i></a>
								<div class="label">
									<p>Chi ti?t</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="figure-caption">
					<div class="caption-price">
						<p>
							<s>19.000.000d</s>(-19%)
						</p>
						<h5>17.200.000<span>d</span></h5>
					</div>
					<h5>KingSport BK-1999 PRO</h5>
					<div class="gift"><img src="./images/options-1/product-icon-1.png" alt="S?n ph?m t?ng kèm">
						<p>T?ng 30 kg t?</p>
					</div>
					<div class="gift"><img src="./images/options-1/product-icon-2.png" alt="S?n ph?m t?ng kèm">
						<p>T?ng máy do huy?t áp</p>
					</div>
				</div>
			</figure>
		</div>
		<div class="swiper-slide">
			<figure class="figure">
				<div class="hot-item">
					<h5>Hot</h5>
				</div>
				<div class="figure-image"><img src="./images/options-1/best-sell/best-seller-3.png" alt="S?n ph?m bán ch?y">
					<div class="add-cart">
						<ul>
							<li><a href="#"><i class="mdi mdi-heart"></i></a>
								<div class="label">
									<p>Luu s?n ph?m</p>
								</div>
							</li>
							<li><a href="#"><i class="mdi mdi-cart"></i></a>
								<div class="label">
									<p>Gi? hàng</p>
								</div>
							</li>
							<li><a href="#"><i class="mdi mdi-eye"></i></a>
								<div class="label">
									<p>Chi ti?t</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="figure-caption">
					<div class="caption-price">
						<p>
							<s>19.000.000d</s>(-19%)
						</p>
						<h5>17.200.000<span>d</span></h5>
					</div>
					<h5>KingSport BK-1999 PRO</h5>
					<div class="gift"><img src="./images/options-1/product-icon-1.png" alt="S?n ph?m t?ng kèm">
						<p>T?ng 30 kg t?</p>
					</div>
					<div class="gift"><img src="./images/options-1/product-icon-2.png" alt="S?n ph?m t?ng kèm">
						<p>T?ng máy do huy?t áp</p>
					</div>
				</div>
			</figure>
		</div>
		<div class="swiper-slide">
			<figure class="figure">
				<div class="hot-item">
					<h5>Hot</h5>
				</div>
				<div class="figure-image"><img src="./images/options-1/best-sell/best-seller-1.png" alt="S?n ph?m bán ch?y">
					<div class="add-cart">
						<ul>
							<li><a href="#"><i class="mdi mdi-heart"></i></a>
								<div class="label">
									<p>Luu s?n ph?m</p>
								</div>
							</li>
							<li><a href="#"><i class="mdi mdi-cart"></i></a>
								<div class="label">
									<p>Gi? hàng</p>
								</div>
							</li>
							<li><a href="#"><i class="mdi mdi-eye"></i></a>
								<div class="label">
									<p>Chi ti?t</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="figure-caption">
					<div class="caption-price">
						<p>
							<s>19.000.000d</s>(-19%)
						</p>
						<h5>17.200.000<span>d</span></h5>
					</div>
					<h5>KingSport BK-1999 PRO</h5>
					<div class="gift"><img src="./images/options-1/product-icon-1.png" alt="S?n ph?m t?ng kèm">
						<p>T?ng 30 kg t?</p>
					</div>
					<div class="gift"><img src="./images/options-1/product-icon-2.png" alt="S?n ph?m t?ng kèm">
						<p>T?ng máy do huy?t áp</p>
					</div>
				</div>
			</figure>
		</div>
		<div class="swiper-slide">
			<figure class="figure">
				<div class="hot-item">
					<h5>Hot</h5>
				</div>
				<div class="figure-image"><img src="./images/options-1/best-sell/best-seller-2.png" alt="S?n ph?m bán ch?y">
					<div class="add-cart">
						<ul>
							<li><a href="#"><i class="mdi mdi-heart"></i></a>
								<div class="label">
									<p>Luu s?n ph?m</p>
								</div>
							</li>
							<li><a href="#"><i class="mdi mdi-cart"></i></a>
								<div class="label">
									<p>Gi? hàng</p>
								</div>
							</li>
							<li><a href="#"><i class="mdi mdi-eye"></i></a>
								<div class="label">
									<p>Chi ti?t</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="figure-caption">
					<div class="caption-price">
						<p>
							<s>19.000.000d</s>(-19%)
						</p>
						<h5>17.200.000<span>d</span></h5>
					</div>
					<h5>KingSport BK-1999 PRO</h5>
					<div class="gift"><img src="./images/options-1/product-icon-1.png" alt="S?n ph?m t?ng kèm">
						<p>T?ng 30 kg t?</p>
					</div>
					<div class="gift"><img src="./images/options-1/product-icon-2.png" alt="S?n ph?m t?ng kèm">
						<p>T?ng máy do huy?t áp</p>
					</div>
				</div>
			</figure>
		</div>
		<div class="swiper-slide">
			<figure class="figure">
				<div class="hot-item">
					<h5>Hot</h5>
				</div>
				<div class="figure-image"><img src="./images/options-1/best-sell/best-seller-3.png" alt="S?n ph?m bán ch?y">
					<div class="add-cart">
						<ul>
							<li><a href="#"><i class="mdi mdi-heart"></i></a>
								<div class="label">
									<p>Luu s?n ph?m</p>
								</div>
							</li>
							<li><a href="#"><i class="mdi mdi-cart"></i></a>
								<div class="label">
									<p>Gi? hàng</p>
								</div>
							</li>
							<li><a href="#"><i class="mdi mdi-eye"></i></a>
								<div class="label">
									<p>Chi ti?t</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="figure-caption">
					<div class="caption-price">
						<p>
							<s>19.000.000d</s>(-19%)
						</p>
						<h5>17.200.000<span>d</span></h5>
					</div>
					<h5>KingSport BK-1999 PRO</h5>
					<div class="gift"><img src="./images/options-1/product-icon-1.png" alt="S?n ph?m t?ng kèm">
						<p>T?ng 30 kg t?</p>
					</div>
					<div class="gift"><img src="./images/options-1/product-icon-2.png" alt="S?n ph?m t?ng kèm">
						<p>T?ng máy do huy?t áp</p>
					</div>
				</div>
			</figure>
		</div>
		<div class="swiper-slide">
			<figure class="figure">
				<div class="hot-item">
					<h5>Hot</h5>
				</div>
				<div class="figure-image"><img src="./images/options-1/best-sell/best-seller-1.png" alt="S?n ph?m bán ch?y">
					<div class="add-cart">
						<ul>
							<li><a href="#"><i class="mdi mdi-heart"></i></a>
								<div class="label">
									<p>Luu s?n ph?m</p>
								</div>
							</li>
							<li><a href="#"><i class="mdi mdi-cart"></i></a>
								<div class="label">
									<p>Gi? hàng</p>
								</div>
							</li>
							<li><a href="#"><i class="mdi mdi-eye"></i></a>
								<div class="label">
									<p>Chi ti?t</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="figure-caption">
					<div class="caption-price">
						<p>
							<s>19.000.000d</s>(-19%)
						</p>
						<h5>17.200.000<span>d</span></h5>
					</div>
					<h5>KingSport BK-1999 PRO</h5>
					<div class="gift"><img src="./images/options-1/product-icon-1.png" alt="S?n ph?m t?ng kèm">
						<p>T?ng 30 kg t?</p>
					</div>
					<div class="gift"><img src="./images/options-1/product-icon-2.png" alt="S?n ph?m t?ng kèm">
						<p>T?ng máy do huy?t áp</p>
					</div>
				</div>
			</figure>
		</div>
		<div class="swiper-slide">
			<figure class="figure">
				<div class="hot-item">
					<h5>Hot</h5>
				</div>
				<div class="figure-image"><img src="./images/options-1/best-sell/best-seller-2.png" alt="S?n ph?m bán ch?y">
					<div class="add-cart">
						<ul>
							<li><a href="#"><i class="mdi mdi-heart"></i></a>
								<div class="label">
									<p>Luu s?n ph?m</p>
								</div>
							</li>
							<li><a href="#"><i class="mdi mdi-cart"></i></a>
								<div class="label">
									<p>Gi? hàng</p>
								</div>
							</li>
							<li><a href="#"><i class="mdi mdi-eye"></i></a>
								<div class="label">
									<p>Chi ti?t</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="figure-caption">
					<div class="caption-price">
						<p>
							<s>19.000.000d</s>(-19%)
						</p>
						<h5>17.200.000<span>d</span></h5>
					</div>
					<h5>KingSport BK-1999 PRO</h5>
					<div class="gift"><img src="./images/options-1/product-icon-1.png" alt="S?n ph?m t?ng kèm">
						<p>T?ng 30 kg t?</p>
					</div>
					<div class="gift"><img src="./images/options-1/product-icon-2.png" alt="S?n ph?m t?ng kèm">
						<p>T?ng máy do huy?t áp</p>
					</div>
				</div>
			</figure>
		</div>
		<div class="swiper-slide">
			<figure class="figure">
				<div class="hot-item">
					<h5>Hot</h5>
				</div>
				<div class="figure-image"><img src="./images/options-1/best-sell/best-seller-3.png" alt="S?n ph?m bán ch?y">
					<div class="add-cart">
						<ul>
							<li><a href="#"><i class="mdi mdi-heart"></i></a>
								<div class="label">
									<p>Luu s?n ph?m</p>
								</div>
							</li>
							<li><a href="#"><i class="mdi mdi-cart"></i></a>
								<div class="label">
									<p>Gi? hàng</p>
								</div>
							</li>
							<li><a href="#"><i class="mdi mdi-eye"></i></a>
								<div class="label">
									<p>Chi ti?t</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="figure-caption">
					<div class="caption-price">
						<p>
							<s>19.000.000d</s>(-19%)
						</p>
						<h5>17.200.000<span>d</span></h5>
					</div>
					<h5>KingSport BK-1999 PRO</h5>
					<div class="gift"><img src="./images/options-1/product-icon-1.png" alt="S?n ph?m t?ng kèm">
						<p>T?ng 30 kg t?</p>
					</div>
					<div class="gift"><img src="./images/options-1/product-icon-2.png" alt="S?n ph?m t?ng kèm">
						<p>T?ng máy do huy?t áp</p>
					</div>
				</div>
			</figure>
		</div>
	</div>
</div>
<div class="swiper-pagination-wrapper">
	<div class="swiper-pagination swiper-pagination-product-discount-3"></div>
</div>