<div class="col-9 box">
    {% for banner in banners %}
    {% if banner.title == 'youtube' %}
	<div class="video-content">
		<iframe width="560" height="315" src="{{ banner.link }}" allowfullscreen=""></iframe>
	</div>
    {% endif %}
    {% endfor %}
</div>
<div class="col-3 box">
	<div class="row no-gutters">
        {% for banner in banners %}
        {% if banner.title == 'youtube' %}
		<div class="col-12"><a href="#">
				<figure class="figure">
					<div class="figure-image">
						<img class="img-fluid" src="{{ banner.image }}" alt="{{ banner.title }}">
					</div>
				</figure></a></div>
        {% endif %}
        {% endfor %}
	</div>
</div>