<section class="mobile-nav">
    <div class="swiper-container" id="swiper-mobile-nav">
        <div class="swiper-wrapper">
            {% for category in categories %}
            <div class="swiper-slide"><a href="{{ category['href'] }}">
                    <img src="catalog/view/theme/kingsport/image/icon-mobile/icon-svg-{{ category['icon'] }}.svg" alt="icon-mobile-ghemassage">
                    <div class="swiper-slide-caption">
                        <p>{{ category['title'] }}</p>
                    </div></a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>