@import url("nmc.css"); /* Using a url */

.kingsport-header-main .kingsport-main-nav .main-nav-wrapper .bottom-nav-wrapper .search-nav-wrapper .login-nav li a .shopping-cart:after {

    display: none
}

.kingsport-header-main .kingsport-main-nav .main-nav-wrapper .bottom-nav-wrapper .search-nav-wrapper .login-nav li a .shopping-cart .num-of-items {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    background: #ed1c24;
    color: #fff;
}

.add-cart a {
    cursor: pointer
}

.form-group {
    margin-bottom: 0;
}

.breadcrumb {
    background: none;
}

.dropdown-menu {
    min-width: 320px;
}

.kingsport-header-all .kingsport-main-nav .main-nav-wrapper .bottom-nav-wrapper .search-nav-wrapper .top-nav-dropdown .laptop-navigation-all .navbar-list-bottom .nav-link:first-child {
    padding: .5rem 0 .55rem 0;
    box-shadow: 0 1px 0 0 #faf2e1;
}
.kingsport-header-all .kingsport-main-nav .main-nav-wrapper .bottom-nav-wrapper .search-nav-wrapper .top-nav-dropdown .laptop-navigation-all .navbar-list-bottom .nav-link:first-child a {
     margin-left: inherit;
     font-size: inherit;
     font-weight: inherit;
     font-family: inherit;
}

/*.kingsport-header-all .kingsport-main-nav .main-nav-wrapper .bottom-nav-wrapper .search-nav-wrapper .top-nav-dropdown .laptop-navigation-all .navbar-list .nav-link:first-child {*/
     /*padding: inherit;*/
     /*box-shadow: inherit;*/
/*}*/

.kingsport-header-all .kingsport-main-nav .main-nav-wrapper .bottom-nav-wrapper .search-nav-wrapper .top-nav-dropdown .laptop-navigation-all {
    display: block;
}

.navbar-list-top {
    margin-top: 13px;
}

.kingsport-header-all .kingsport-main-nav .main-nav-wrapper .bottom-nav-wrapper .search-nav-wrapper .top-nav-dropdown .laptop-navigation-all .navbar-list-bottom .nav-link a {
    margin-left: 2.2rem!important;
    transition: .3s all linear;
}

.navbar-list-bottom {
    display: none;
}

.active .navbar-list-bottom {
    display: block;
}

.kingsport-news-option1v3 .news-box .swiper-container .swiper-wrapper .swiper-slide .figure .figure-image img {
    max-width: 100%;
    width: auto;
}


.swiper-pagination {
    bottom: 0!important
}

.breadcrumb>li+li:before {
    display: none!important
}

@media screen and (max-width: 1400px) {}
    .showroom-wrapper .figure .figure-caption .figure-fancy a img  {
        height: auto;
        width: auto; 
    }
}