.gutter-10 > [class*='col-']{padding-right:10px;padding-left:10px;}
.gutter-5{margin-left:-5px;margin-right:-5px;}
.gutter-5 > [class*='col-']{padding-right:5px;padding-left:5px;}
.gutter-2{margin-left:-2px;margin-right:-2px;}
.gutter-2 > [class*='col-']{padding-right:2px;padding-left:2px;}
.gutter-0{margin-left:0px;margin-right:0px;}
.gutter-0 > [class*='col-']{padding-right:0px;padding-left:0px;}

/* fluid 5 columns */
.grid-sizer,
.album-item { width: 25%; height: calc( (100vw - 150px) / 4 * 370/450);}
.album-item{float:left;}
.album-item img {  display: block;  max-width: 100%; height:auto;  padding:0px 15px;}
/* 2 columns */
.grid-item--width2 { width: 50%; }
.grid-item--height2 {height:calc( (100vw - 150px) / 4 * 370/450 * 2); }


#album_container{margin-bottom:30px;margin-left:-15px;margin-right:-15px;}
#album_container .album-item{position:relative;text-align:center; display: block;}
#album_container .album-item.hide{display: none;}
#album_container .album-item .bg{background:#ccc;background-size:cover;position:absolute;background-position:center center;left:15px;top:15px;right:15px;bottom:15px;background-repeat:no-repeat;}
#album_container .album-item .item-hover{background:rgba(0,0,0,0.5) url('../images/album/ico-eye.svg') no-repeat center center;position:absolute;width:calc(100% - 30px);height:calc(100% - 30px);top:15px;left:15px;border:solid 0px #ebebeb;opacity:0;-webkit-transition:all .4s ease;-moz-transition:all .4s ease;-o-transition:all .4s ease;transition:all .4s ease;}
#album_container .album-item:hover .item-hover{opacity:1;}
#album_container .album-item .item-hover .title{display:none;}

@media screen and  (max-width:1199px){
    .album-item img {padding:0px 5px;}
    #album_container .album-item .bg{left:5px;top:5px;right:5px;bottom:5px;    }
    #album_container .album-item .item-hover{width:calc(100% - 10px);height:calc(100% - 10px);top:5px;left:5px;}
}
@media screen and (min-width:992px) and (max-width:1199px){

}
@media screen and (max-width:991px){

}
@media screen and (max-width:767px){
    .grid-sizer,
    .album-item{height: calc((100vw - 150px) / 2 * 370/450 );  width: 50%;}
    .grid-item--height2 {height:calc((100vw - 150px) / 2 * 370/450 * 2); }
    .grid-item--width2 { width: 100%; }
}
@media screen and (max-width:480px){

}



.style_form .choose-quantity {max-width: 40px;}
table.addtocart2 tbody tr td{border-right: 1px solid #eaeaea;}
table.addtocart2 table.img-title tr td{border-right: 0px;}
table.addtocart2 tbody tr td .btnclear{cursor: pointer;}
.policy-pay .policy ul {list-style: none; padding: 0px;}
.policy-pay .policy ul li{position: relative;}
.policy-pay .policy ul li:before{ position: absolute; left:0px; top:5px; font-family: fontawesome; content: '\f00c';}
.policy-pay .policy ul li.fa-phone:before{content: '\f095';}
.account-form .well{background: transparent; margin-top: 30px;   border: 1px solid #ebebeb; border-radius: 0px; padding: 20px;}
.account-form .btn{border-radius: 0px; line-height: 24px; height: 40px;}
.account-form .btn.btn-primary{    background: #ec1d25; text-transform: uppercase; border:0px;
background: #df2025;
    border: 2px solid #df2025;
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    height: 40px;
    min-width: 170px;
    line-height: 24px;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.account-form .btn.btn-submit span {
    display: inline-block;
    position: relative;
    z-index: 4;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.account-form .btn.btn-submit span i {
    font-size: 25px;
    float: right;
    margin-left: 10px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.account-form .btn.btn-submit:before {
    content: '';
    position: absolute;
    background: #fff;
    right: 100%;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.account-form .btn.btn-submit:hover:before {
    right: 0;
}
.account-form .btn.btn-submit:hover span,
.account-form .btn.btn-submit:hover span i {
    color: #df2025;
}
.account-form .btn.btn-submit:hover{
    background: #fff;
}
.account-form .form-group{margin-bottom: 15px;}
.account-form .form-group .form-control
{
	border-left:0px; border-radius: 0px;	
}
.account-form .form-group .control-label{display: none;}
.account-form .btn-forgot{color: #333; margin-top: 10px; display: block;}
.account-form .input-group-addon{background: transparent; border-radius: 0px;}

.style_form .total-price {padding: 10px;}
.style_form .total-price strong{color: #ff001d; font-size: 25px; display: inline-block; }
.btn-site{
    position: relative;
    overflow: hidden;
    height: 2.5rem;
    background: #ed1c24;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.125rem;
    font-family: Muli;
    color: #fff;
    font-weight: 500;
    line-height: 1.625rem;
    padding: 7px 25px;
    border:0px;
    border-radius: 0px;
}
.btn-site:hover{background: #f99d1c;}
.btn-transparent{background: transparent; color: #ed1c24; font-weight: 700; border: solid 2px transparent;}
.btn-transparent:hover{border: solid 2px #ed1c24; color: #ed1c24; background: transparent; }
.cart-form .coupon_Total .Coupon{    background: url(../images/checkout/gift.png) no-repeat 22px 20px #fff; height: auto;}
.cart-form .coupon_Total .Coupon .div-coupon{padding-bottom: 10px;}
.cart-form .coupon_Total .Coupon .div-coupon p{margin-bottom: 0px;}
.cart-form .coupon_Total .Coupon .div-coupon .input-group .form-control{border-bottom: 1px solid #e0e0e0;}
.cart-form .button-form{padding:30px 10px;}
/*.cart-form .button-form .btn{
    position: relative;
    overflow: hidden;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.125rem;
    font-family: Muli;
    color: #fff;
    font-weight: 500;
    line-height: 1.625rem;
    padding: 7px 25px;
    border:0px;
    border-radius: 0px;
}
.cart-form .button-form .btn.btn-default{background: #666;}
*/
.info_customer h2{
        border-bottom: 1px solid #e5e5e5;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 30px;
    padding: 5px 0;
}
.info_customer .btn{
    height: auto;
    width: 100%;
    padding: 10px;
    background: #df2025;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    border: 0px;
    outline: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    position: relative;
    z-index: 1;
    overflow: hidden;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    text-transform: uppercase;
    margin-right: 10px;
}
.info_customer #button-account{background: #df2025;}
.info_customer .control-label{display: none;}
.info_customer .form-control{ border-radius: 0px;}
.info_customer .form-group{margin-bottom: 15px;}
.info_customer .form-group a{margin-top: 12px; display: block;}
.main.mg_bt{margin-bottom: 40px;}

#checkout-checkout .wrapper{width: 100%;}

.btn-ks{
    height: auto;
    padding: 10px;
    background: #666;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    border: 0px;
    outline: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    position: relative;
    z-index: 1;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    text-transform: uppercase;
}
.btn-ks span{color: #fff;}
.btn-ks.btn-primary{background: #ed1c24;}
.btn-ks.btn-primary:hover{background: #f99d1c;}
.btn-ks.btn-default{background: #666;}
.btn-ks.btn-default:hover{background: #ed1c24;}

.info-order .table-order thead tr td{background:#ed1c24; color: #fff; }

/*Fix bug*/
.nav-category{max-width: 12rem;}
body.fixed .kingsport-header-all .kingsport-top-nav{display: none;}
body.fixed{padding-top: 179px;}
body.fixed .kingsport-header-all{position: fixed; top:0px; left: 0px; width: 100%; 
        background: #fff;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.25);
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.25);
    box-shadow: 0 2px 4px rgba(0,0,0,0.25);
    z-index: 999;
    height: 66px;
    
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    overflow: visible;

}
body.fixed .kingsport-header-all .kingsport-main-nav .main-nav-wrapper .navbar-brand{display: none;}
body.fixed .kingsport-header-all .navbar-brand:after{display: none;}
body.fixed .kingsport-header-all .kingsport-main-nav .main-nav-wrapper .bottom-nav-wrapper .search-nav-wrapper .top-nav-dropdown .laptop-navigation-all{
    top:25px;
}
body.fixed .kingsport-header-all .kingsport-main-nav .main-nav-wrapper{padding-left: 200px; height: auto;}
body.fixed .kingsport-header-all .kingsport-main-nav .nav-wrapper{display: none;}
body.fixed .kingsport-header-all .kingsport-main-nav .main-nav-wrapper .bottom-nav-wrapper{margin-top: 13px;}
body.fixed .navbar-list-top{margin-top: 0px;}
body.fixed .kingsport-header-all .kingsport-main-nav .main-nav-wrapper .bottom-nav-wrapper .search-nav-wrapper .top-nav-dropdown .laptop-navigation-all .navbar-list .nav-link:first-child{
        padding-top: 8px;padding-bottom: 8px;
}

@media (max-width: 992px) {
    body.fixed{padding-top: 0px;}
}

.kingsport-header-all .kingsport-main-nav .main-nav-wrapper .bottom-nav-wrapper .search-nav-wrapper .top-nav-dropdown .laptop-navigation-all .navbar-list-bottom .nav-link a h4{text-transform: capitalize; font-weight: 700;}
.kingsport-header-all .kingsport-main-nav .main-nav-wrapper .bottom-nav-wrapper .search-nav-wrapper .top-nav-dropdown .laptop-navigation-all .navbar-list .nav-link .mega-menu .mega-menu-list .stander li a{text-transform: capitalize;}

.kingsport-header-all .kingsport-main-nav .main-nav-wrapper .bottom-nav-wrapper .search-nav-wrapper .login-nav li a .shopping-cart:after{ display: none; }
.kingsport-header-all .kingsport-main-nav .main-nav-wrapper .bottom-nav-wrapper .search-nav-wrapper .login-nav li a .shopping-cart .num-of-items{    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    background: #ed1c24;
    color: #fff;
}

.product-discount .product-wrapper .product-figure-wrapper h2{font-weight: 900; font-family: 'Muli', sans-serif; margin-top: 15px;}
#common-success .box-border{border: solid 1px #ebebeb; padding: 25px 15%; text-align: center; margin-bottom: 30px;}
#common-success .buttons{margin-bottom: 30px;}
#common-success .box-border p.hightlight{color: #ed1c24; }
#common-success .box-border img{max-width: 100%; height: auto; margin-bottom: 10px;}

@media (max-width: 480px) {
    #common-success .box-border{border:0px; padding: 0px;}
}

.kingsport-home-1v3 .home-wrapper .home-video-wrapper{    width: calc(100% ); padding-left: 270px;}
.kingsport-home-1v3 .home-wrapper .home-video-wrapper .box:first-child{border-left: 1.25rem solid transparent;}
.kingsport-header-all .kingsport-main-nav .main-nav-wrapper .navbar-brand,
.kingsport-header-all .kingsport-main-nav .main-nav-wrapper .bottom-nav-wrapper .search-nav-wrapper .top-nav-dropdown .laptop-navigation-all{
    width: 290px;
}
.kingsport-header-all .kingsport-main-nav .main-nav-wrapper .bottom-nav-wrapper{width: auto;}
body.fixed .kingsport-header-all .kingsport-main-nav .main-nav-wrapper .bottom-nav-wrapper{width: 100%;}

@media screen and (max-width: 1600px){
    .kingsport-header-all .kingsport-main-nav .main-nav-wrapper .navbar-brand,
    .kingsport-header-all .kingsport-main-nav .main-nav-wrapper .bottom-nav-wrapper .search-nav-wrapper .top-nav-dropdown .laptop-navigation-all{
    width: 240px;
    }
    .kingsport-home-1v3 .home-wrapper .home-video-wrapper{padding-left: 218px;}
    .kingsport-header-all .kingsport-main-nav .main-nav-wrapper .bottom-nav-wrapper .search-nav-wrapper .top-nav-dropdown .laptop-navigation-all .navbar-list .nav-link .mega-menu{
        left: 240px;
    }
}


@media screen and (max-width: 1200px){
    .kingsport-header-all .kingsport-main-nav .main-nav-wrapper .navbar-brand,
    .kingsport-header-all .kingsport-main-nav .main-nav-wrapper .bottom-nav-wrapper .search-nav-wrapper .top-nav-dropdown .laptop-navigation-all{
        width: 240px;
    }
    .kingsport-header-all .kingsport-main-nav .main-nav-wrapper .bottom-nav-wrapper .search-nav-wrapper .top-nav-dropdown .laptop-navigation-all{left: 32px;}
    .kingsport-header-all .kingsport-main-nav .main-nav-wrapper .bottom-nav-wrapper .search-nav-wrapper .top-nav-dropdown .laptop-navigation-all .navbar-list .nav-link .mega-menu{
        left: 240px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px){
    .kingsport-main-nav > .container{padding-left: 0px; padding-right: 0px;}
}

.product-discount .product-wrapper .product-figure-wrapper .swiper-container .swiper-wrapper .swiper-slide .figure .figure-image .add-cart ul{padding: 3px 5px;}
.product-discount .product-wrapper .product-figure-wrapper .swiper-container .swiper-wrapper .swiper-slide .figure .figure-image .add-cart ul li a i{font-style: 20px;}
.product-discount .product-wrapper .product-figure-wrapper .swiper-container .swiper-wrapper .swiper-slide .figure .figure-image .add-cart ul li .label{top: -1.6rem;}

.social-network-media-player .social-media-player-wrapper .social-media-playlist .media-thumbnail .media-thumbnail-wrapper .media-caption h4 a{color: #000000;font-size: 14px; font-weight: 700;}
.social-network-media-player .social-media-player-wrapper .social-media-playlist .media-thumbnail .media-thumbnail-wrapper .media-caption p{  font-size: 13px; color: #666666; margin-bottom: 3px;}

.social-network-media-player .social-media-player-wrapper{padding: 40px;}
.social-network-media-player .social-media-player-wrapper .social-media-content{padding-top: 57.5%;}

.swiper-container .button-next,
.swiper-container .button-prev{
    background: #ed1c24;
    opacity: 1;
    outline: 0;
    width: 2.1875rem;
    height: 2.1875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 99;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0;
    transition: all .2s cubic-bezier(.42, 0, .58, 1);
    transition-timing-function: cubic-bezier(.42, 0, .58, 1);
    right: 0px;
}
.swiper-container .button-prev{
    right: auto; left: 0px;
}
.swiper-container .button-next i,
.swiper-container .button-prev i{
    color: #fff;
}
.swiper-container:hover .swiper-button-disabled {
    opacity: .3;
}
.swiper-container:hover .button-next,
.swiper-container:hover .button-prev{
    opacity: 1;
}

.contact-wrapper .figure{background: #f1f1f1; padding: 35px;}
.contact-wrapper .figure .btn{margin-top: 5px;}

@media screen and (max-width: 1200px){
    body, html{font-size: 14px;}
    .kingsport-header-all .kingsport-main-nav .main-nav-wrapper .bottom-nav-wrapper .search-nav-wrapper .top-nav-dropdown .laptop-navigation-all .navbar-list-bottom .nav-link a,
    .kingsport-header-all .kingsport-main-nav .main-nav-wrapper .bottom-nav-wrapper .search-nav-wrapper .top-nav-dropdown .laptop-navigation-all .navbar-list-bottom .nav-link:first-child a,
    .kingsport-header-all .kingsport-main-nav .main-nav-wrapper .bottom-nav-wrapper .search-nav-wrapper .top-nav-dropdown .laptop-navigation-all .navbar-list-bottom .nav-link a h4{font-size: 13px !important;}

    .product-discount .product-wrapper .product-tab-nav ul li a,
    .product-original-v3 .product-title-wrapper .product-tab-nav ul li a,
    .map-showroom .map-showroom-wrapper .map-showroom-nav .swiper-container .swiper-slide a{font-size: 13px;}
    .product-discount .product-wrapper .product-figure-wrapper h2,
    .product-original-v3 .product-title-wrapper .product-title h2,
    .product-today .product-wrapper .product-title h2,
    .kingsport-news-option1v3 .news-wrapper .news-title h2,
    .map-showroom .map-showroom-wrapper .address-title h2
    {font-size: 22px;}

    .kingsport-bottom-banner .banner-row-wrapper .figure .figure-caption p{font-size: 14px;}
    .kingsport-footer-2v2 .col-wrapper ul li a{font-size: 13px;}

    .kingsport-header-all .kingsport-main-nav .nav-wrapper .container .nav-main-menu {
        padding: 0 0 0 16rem;
    }
    body.fixed .kingsport-header-all .kingsport-main-nav .main-nav-wrapper{padding-left: 240px;}

}