/* fluid 5 columns */
.grid-sizer,
.album-item { width: 25%; height: calc( (100vw - 150px) / 4 * 370/450);}
.album-item{float:left;}
.album-item img {  display: block;  max-width: 100%; height:auto;  padding:0px 15px;}
/* 2 columns */
.grid-item--width2 { width: 50%; }
.grid-item--height2 {height:calc( (100vw - 150px) / 4 * 370/450 * 2); }


#album_container{margin-bottom:30px;margin-left:-15px;margin-right:-15px;}
#album_container .album-item{position:relative;text-align:center; display: block;}
#album_container .album-item.hide{display: none;}
#album_container .album-item .bg{background:#ccc;background-size:cover;position:absolute;background-position:center center;left:15px;top:15px;right:15px;bottom:15px;background-repeat:no-repeat;}
#album_container .album-item .item-hover{background:rgba(0,0,0,0.5) url('../images/album/ico-eye.svg') no-repeat center center;position:absolute;width:calc(100% - 30px);height:calc(100% - 30px);top:15px;left:15px;border:solid 0px #ebebeb;opacity:0;-webkit-transition:all .4s ease;-moz-transition:all .4s ease;-o-transition:all .4s ease;transition:all .4s ease;}
#album_container .album-item:hover .item-hover{opacity:1;}
#album_container .album-item .item-hover .title{display:none;}

@media screen and  (max-width:1199px){
    .album-item img {padding:0px 5px;}
    #album_container .album-item .bg{left:5px;top:5px;right:5px;bottom:5px;    }
    #album_container .album-item .item-hover{width:calc(100% - 10px);height:calc(100% - 10px);top:5px;left:5px;}
}
@media screen and (min-width:992px) and (max-width:1199px){

}
@media screen and (max-width:991px){

}
@media screen and (max-width:767px){
    .grid-sizer,
    .album-item{height: calc((100vw - 150px) / 2 * 370/450 );  width: 50%;}
    .grid-item--height2 {height:calc((100vw - 150px) / 2 * 370/450 * 2); }
    .grid-item--width2 { width: 100%; }
}
@media screen and (max-width:480px){

}



.style_form .choose-quantity {max-width: 40px;}
table.addtocart2 tbody tr td{border-right: 1px solid #eaeaea;}
table.addtocart2 table.img-title tr td{border-right: 0px;}
table.addtocart2 tbody tr td .btnclear{cursor: pointer;}
.policy-pay .policy ul {list-style: none; padding: 0px;}
.policy-pay .policy ul li{position: relative;}
.policy-pay .policy ul li:before{ position: absolute; left:0px; top:5px; font-family: fontawesome; content: '\f00c';}
.policy-pay .policy ul li.fa-phone:before{content: '\f095';}
.account-form .well{background: transparent; margin-top: 30px;   border: 1px solid #ebebeb; border-radius: 0px; padding: 20px;}
.account-form .btn{border-radius: 0px; line-height: 24px; height: 40px;}
.account-form .btn.btn-primary{    background: #ec1d25; text-transform: uppercase; border:0px;
background: #df2025;
    border: 2px solid #df2025;
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    height: 40px;
    min-width: 170px;
    line-height: 24px;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.account-form .btn.btn-submit span {
    display: inline-block;
    position: relative;
    z-index: 4;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.account-form .btn.btn-submit span i {
    font-size: 25px;
    float: right;
    margin-left: 10px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.account-form .btn.btn-submit:before {
    content: '';
    position: absolute;
    background: #fff;
    right: 100%;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.account-form .btn.btn-submit:hover:before {
    right: 0;
}
.account-form .btn.btn-submit:hover span,
.account-form .btn.btn-submit:hover span i {
    color: #df2025;
}
.account-form .btn.btn-submit:hover{
    background: #fff;
}
.account-form .form-group{margin-bottom: 15px;}
.account-form .form-group .form-control
{
	border-left:0px; border-radius: 0px;	
}
.account-form .form-group .control-label{display: none;}
.account-form .btn-forgot{color: #333; margin-top: 10px; display: block;}
.account-form .input-group-addon{background: transparent; border-radius: 0px;}

    